BZZOIRO_TOKENS=""
BZZOIRO_TOKEN=""
BZZOIRO_API_KEY=""
BZZOIRO_WORKERS_PER_KEY=2
BZZOIRO_MAX_WORKERS=64
BZZOIRO_RATE_LIMIT_PER_MINUTE=10
BZZOIRO_RATE_LIMIT_SAFETY_MARGIN=1
BZZOIRO_REQUEST_TIMEOUT_SECONDS=20
BZZOIRO_MAX_RETRIES=4
BZZOIRO_RETRY_BACKOFF_SECONDS=0.5
BZZOIRO_PAGE_LIMIT=100
BZZOIRO_PAGE_LIMIT_MAX=200
BZZOIRO_PAGE_SLEEP_SECONDS=0.15
BZZOIRO_HISTORICAL_SEASONS_LOOKBACK=2
BZZOIRO_ENRICH_XG=true
GOANGEL_STRICT_TOKENS=true
GOANGEL_CACHE_DIR=./cache
GOANGEL_LOG_LEVEL=INFO
GOANGEL_LOG_FILE=./cache/goangel.log
GOANGEL_RANDOM_SEED=42
GOANGEL_TIMEZONE=UTC
GOANGEL_CALIBRATION_METHOD=isotonic
GOANGEL_TEMPERATURE_DEFAULT=1.15
GOANGEL_ENSEMBLE_MIN_WEIGHT=0.0
GOANGEL_ENSEMBLE_MAX_WEIGHT=0.60
GOANGEL_MIN_MATCHES_FOR_TRAINING=500
GOANGEL_TRAIN_RATIO=0.65
GOANGEL_VAL_RATIO=0.10
GOANGEL_CALIB_RATIO=0.10
GOANGEL_TEST_RATIO=0.15
GOANGEL_WALK_FORWARD_FOLDS=5
GOANGEL_GITHUB_PUSH=false
GOANGEL_GITHUB_REPO=Angeloda444/GOANGEL2
GOANGEL_GITHUB_USER=Angeloda444
GOANGEL_GITHUB_BRANCH=cache-auto
GH_PAT=
