__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd

checkpoints/
.cache/
*.pkl
*.pkl.xz
*.log
*.tmp
*.bak
*.bak_*
.env.bak
.env.bak_*

.DS_Store
Thumbs.db

.venv/
venv/
env/
.idea/
.vscode/

.lfsconfig
.gitattributes
.env
cache/*.log
